# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created

name: Release npm package

on:
  release:
    types: [created]

permissions:
  id-token: write  # Required for OIDC
  contents: read
  
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - run: npm test -- run
      - run: npm publish --access public
